<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>管理者TOP</title>
</head>

<body>
    <select name="" id="">
        <option value="1">猿舘風人</option>
        <option value="2">菅田健</option>
        <option value="3">玉山氷龍</option>
        <option value="4">髙橋龍ノ介</option>
    </select>
    <hr>
    <div>
        <div href="">
            <img src="" alt="">
            <div>
                <h2>画面の名前</h2>
                <p>説明</p>
            </div>
        </div>
        <div href="">
            <img src="" alt="">
            <div>
                <h2>画面の名前</h2>
                <p>説明</p>
            </div>
        </div>
        <div href="">
            <img src="" alt="">
            <div>
                <h2>画面の名前</h2>
                <p>説明</p>
            </div>
        </div>
        <div href="">
            <img src="" alt="">
            <div>
                <h2>画面の名前</h2>
                <p>説明</p>
            </div>
        </div>
        <div href="">
            <img src="" alt="">
            <div>
                <h2>画面の名前</h2>
                <p>説明</p>
            </div>
        </div>
        <div href="">
            <img src="" alt="">
            <div>
                <h2>画面の名前</h2>
                <p>説明</p>
            </div>
        </div>
        <div href="">
            <img src="" alt="">
            <div>
                <h2>画面の名前</h2>
                <p>説明</p>
            </div>
        </div>
        <div href="">
            <img src="" alt="">
            <div>
                <h2>画面の名前</h2>
                <p>説明</p>
                <button></button>
            </div>
        </div>
    </div>
    <p>押すなよ絶対に押すなよ</p>
    <div>
        <p>システムアラート</p>
        <div>
            <div>丸の図形があってオンの時とオフの時で色変える</div>
            <p>未確認のお問合せ:3件</p>
            <div>丸の図形があってオンの時とオフの時で色変える</div>
            <p>メンテナンスモード:OFF</p>
        </div>
    </div>

</body>

</html>