<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>問題作成画面</title>
</head>

<body>
    <p>ジャンル選択</p>
    <select>
        <option>ITパスポート</option>
        <option>基本情報技術者試験</option>
        <option>英語</option>
    </select>
    <p>カテゴリ選択</p>
    <select>
        <option>ALL</option>
        <option>ストラテジ</option>
        <option>マネジメント</option>
        <option>テクノロジ</option>
        <option>データベース</option>
    </select>
    <p>取得元サイト名/年度入力</p>
    <input type="text">
    <a href="administrator-top.html">戻る</a>
    <button type="submit">仮保存</button>
    <p>問題文入力フィールド</p>
    <div></div>
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <textarea name="content" rows="10" cols="30"></textarea>
</body>

</html>