<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>問題一覧</title>
</head>

<body>
    <input type="text" placeholder="検索ワードを入力してください">
    <button>検索</button>
    <select>
        <option>ジャンル選択</option>
        <option>ITパスポート</option>
        <option>基本情報技術者試験</option>
        <option>英語</option>
    </select>
    <select>
        <option>カテゴリ選択</option>
        <option>ALL</option>
        <option>ストラテジ</option>
        <option>マネジメント</option>
        <option>テクノロジ</option>
        <option>データベース</option>
        <option>ネットワーク</option>
        <option>セキュリティ</option>
    </select>
    <select>
        <option>並べ替え</option>
        <option>更新順昇順</option>
        <option>更新順降順</option>
    </select>
    <div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <button>戻る</button>
    <button>作成</button>
    <button>編集</button>
</body>

</html>