<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>難易度選択</title>
    <link rel="stylesheet" th:href="@{/css/user/difficulty-selection.css}" />
</head>
<body>
    <main class="main-container">
        <h1 class="page-title">Level Select</h1>
        <div class="difficulty-list">
            <div class="difficulty-item" th:each="difficulty : ${difficulties}">
                <a th:href="@{/user/loading(genreId=${genreId}, categoryId=${categoryId}, difficultyId=${difficulty.id})}">
                    <p class="difficulty-name" th:text="${difficulty.name}"></p>
                </a>
            </div>
        </div>
        <div class="back-btn">
                <a href="/user/genre">戻る↵</a>
        </div>
    </main>
    <div th:replace="~{user/layout :: menubar}"></div>
</body>
</html>