<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ゲーム</title>
</head>
<body>
    <div>
        <div>
            <h4>Category</h4>
            <h4>ジャンル</h4>
        </div>
        <div>
            <h4>Time</h4>
            <h3>時間が入ります</h3>
        </div>
        <div>
            <h4>question</h4>
            <h4>2/10</h4>
        </div>
    </div>

    <img src="" alt="">

    <div>
        <div>question</div>
        <p>ここに問題文が入る予定です</p>
    </div>  
    <div>
        <div>
            <div>A</div>
            <p>シンジ</p>
        </div>
            <div>
            <div>B</div>
            <p>EVA</p>
        </div>    <div>
            <div>C</div>
            <p>に乗れ</p>
        </div>    <div>
            <div>D</div>
            <p>そうでなければ帰れ</p>
        </div>
    </div>
    <div>
        <button>Change</button>
        <button>give up</button>
    </div>
</body>
</html>