<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ジャンル選択</title>
</head>
<body>
    <h1>Genre Select</h1>

    <!-- ジャンル固定（DBから取得しない） -->
    <div>
        <a th:href="@{/user/category(genreId=1)}">
            <p>ITパスポート</p>
            <p>まずはここから！IT系の入り口</p>
        </a>
    </div>
    <div>
        <a th:href="@{/user/category(genreId=2)}">
            <p>基本情報</p>
            <p>ここを目指そう！IT系の基本</p>
        </a>
    </div>
    <div>
        <a th:href="@{/user/category(genreId=3)}">
            <p>英語</p>
            <p>ITを学ぶ前に！IT系の予備知識</p>
        </a>
    </div>
    <!-- ✅ th:replace でフラグメントを埋め込む -->
    <div th:replace="~{user/layout :: menubar}"></div>
</body>
</html>