<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>レイアウト</title>
</head>
<body>
<!-- ✅ th:fragment でフラグメントとして定義 -->
<div th:fragment="menubar">
    <div>
        <a th:href="@{/user/top}">
            <img src="">
            <p>TOP</p>
        </a>
    </div>
    <div>
        <a th:href="@{/user/my-page}">
            <img src="">
            <p>マイページ</p>
        </a>
    </div>
    <div>
        <a th:href="@{/user/help}">
            <img src="">
            <p>ヘルプ</p>
        </a>
    </div>
    <div>
        <a th:href="@{/user/notification}">
            <img src="">
            <p>お知らせ</p>
        </a>
    </div>
</div>
</body>
</html>