<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ローディング</title>
</head>
<body>
    <div>
        <p>【遊び方説明】</p>
        <p>デジタルデータトンネルを進み、現れるコンピューターウイルスを倒してウイルスからの感染を防ごう！</p>
        <img href="">
        <p>4つの選択肢の中から正解を選んでウイルスを撃退しよう！</p>
        <p>画面下部にあるボタン をうまく使用してバトルを円滑に進めよう！</p>
        <ul>
            <li>
                <p>Change</p>
                <p>→現在の問題をスキップできる</p>
            </li>
            <li>
                <p>GiveUp</p>
                <p>→ゲームを中断できる</p>
            </li>
        </ul>
    </div>
    <p>Tap to Start</p>
</body>
</html>