<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>マイページ</title>
</head>
<body>
    <h1>My Page</h1>
    <div>
        <div>
            <button>マイページ</button>
            <button>マイスコア</button>
        </div>
        <div id="tab1">
            <h3>ユーザー名</h3>
            <input type="text">
            <button>変更</button>
        </div>
        <div>
            <h3>称号</h3>
            <h3>称号が入るよ!!!!</h3>
            <button>変更</button>
        </div>
        <a href="">お問い合わせ</a>
        <a href="">ログアウト</a>
        <a href="">退会</a>
        <div id="tab2">
            <select name="subject" id="subject">
                <option value="1">基本情報技術者試験</option>
                <option value="2">ITパスポート</option>
                <option value="3">英語</option>
            </select>
            <select name="level" id="level">
                <option value="1">ノーマル</option>
                <option value="2">ハード</option>
            </select>
            <div class="score-card">
                <button class="carousel-arrow left">◀</button>
                <button class="carousel-arrow right">▶</button>
                <div class="score-title">マネジメント</div>
        
                    <div class="score-row rank-1">
                        <div class="rank">1</div>
                        <div class="pt">12800<small>pt</small></div>
                    </div>
                    <div class="score-row rank-2">
                        <div class="rank">2</div>
                        <div class="pt">10300<small>pt</small></div>
                    </div>
                    <div class="score-row rank-3">
                        <div class="rank">3</div>
                        <div class="pt">9300<small>pt</small></div>
                    </div>
                    <div class="score-row rank-4">
                        <div class="rank">4</div>
                        <div class="pt">7400<small>pt</small></div>
                    </div>
                    <div class="score-row rank-5">
                        <div class="rank">5</div>
                        <div class="pt">5400<small>pt</small></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>