<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ランキング</title>
</head>

<body>

    <div>ランキング</div>

    <div>
        <div>
            <div>基本情報 ▼</div>
            <div>難易度 ▼</div>
        </div>

        <div>
            <button>◀</button>

            <div>
                <div>マネジメント</div>

                <div>
                    <p>順位</p>
                    <p>ユーザー名が入る</p>
                    <p>スコアが表示されるよ</p>
                </div>
                <div>
                    <p>順位</p>
                    <p>ユーザー名が入る</p>
                    <p>スコアが表示されるよ</p>
                </div>
                <div>
                    <p>順位</p>
                    <p>ユーザー名が入る</p>
                    <p>スコアが表示されるよ</p>
                </div>
                <div>
                    <p>順位</p>
                    <p>ユーザー名が入る</p>
                    <p>スコアが表示されるよ</p>
                </div>
                <div>
                    <p>順位</p>
                    <p>ユーザー名が入る</p>
                    <p>スコアが表示されるよ</p>
                </div>
            </div>

            <button>▶</button>
        </div>
    </div>
</body>

</html>