<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>ランキング</title>
</head>
<body>

  <div>ランキング</div>

  <div>
    <div>
      <div>基本情報 ▼</div>
      <div>難易度 ▼</div>
    </div>

    <div>
      <button>◀</button>

      <div>
        <div>マネジメント</div>

        <div>1 kazatoGX 12800pt</div>
        <div>2 tamayamatayamay 11300pt</div>
        <div>3 ILOVESONODAUMI 10200pt</div>
        <div>4 sarudatekazato 9800pt</div>
        <div>5 mutekiryunosuke 9020pt</div>
        <div>6 neko2525 8800pt</div>
        <div>7 SEIKIN 7300pt</div>
        <div>8 simotanikun 6100pt</div>
        <div>9 PriusMissile 5810pt</div>
      </div>

      <button>▶</button>
    </div>
  </div>
</body>
</html>